Node-RED Flow/flows.json
[{"id":"adc107ca.e7ab58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"298f793d.2bc0d6","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false},{"id":"f553fce1.2ab25","type":"ui_group","z":"","name":"Assistant","tab":"298f793d.2bc0d6","order":1,"disp":true,"width":8,"collapse":false},{"id":"578bdfef.d92ab","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#268000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#268000","edited":true},"page-titlebar-backgroundColor":{"value":"#268000","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#3dcc00","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#268000","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Helpdesk","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8bb033af.10a71","type":"ui_form","z":"adc107ca.e7ab58","name":"","label":"","group":"f553fce1.2ab25","order":1,"width":0,"height":0,"options":[{"label":"Enter your query here","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":240,"wires":[["40b00757.b43958"]]},{"id":"40b00757.b43958","type":"function","z":"adc107ca.e7ab58","name":"Function 1","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["76f70b6.28918f4","e2c238eb.574e48"]]},{"id":"83a199fe.1b6568","type":"function","z":"adc107ca.e7ab58","name":"Function 2","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["17660cf0.c27da3"]]},{"id":"76f70b6.28918f4","type":"watson-conversation-v1","z":"adc107ca.e7ab58","name":"Watson","workspaceid":"817fca58-7a80-4ae5-a9a5-a45edb82216a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c36ac805-5bcc-489b-bbbf-a127d64fa181","timeout":"","optout-learning":false,"x":520,"y":160,"wires":[["746a3840.fa3498","83a199fe.1b6568"]]},{"id":"e2c238eb.574e48","type":"ui_text","z":"adc107ca.e7ab58","group":"f553fce1.2ab25","order":2,"width":8,"height":"3","name":"","label":"You:  ","format":"{{msg.payload}}","layout":"row-left","x":510,"y":320,"wires":[]},{"id":"746a3840.fa3498","type":"debug","z":"adc107ca.e7ab58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"17660cf0.c27da3","type":"ui_text","z":"adc107ca.e7ab58","group":"f553fce1.2ab25","order":5,"width":0,"height":0,"name":"","label":"Assistant: ","format":"{{msg.payload}}","layout":"col-center","x":900,"y":320,"wires":[]}]